#contact, #farmacia, #juguetes {
  padding-top: 11rem;
}

.card-h{
  height: 715px;
}

.btn-carrito {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.lead {
  text-align: justify;
}

.card-pago {
  border-radius: 3vh;
  margin: auto;
  max-width: 380px;
  padding: 7vh 6vh;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media(max-width:767px) {
  .card-pago {
      width: 90vw
  }
}

.card-pago-img {
  padding: 20px 0;
  width: 40%
}

.card-pago.img img {
  opacity: 0.7
}

.card-pago-title {
  margin-bottom: unset
}

.card-pago-title p {
  color: rgb(29, 226, 226);
  font-weight: 900;
  font-size: 30px;
  margin-bottom: unset
}

.card-pago-text p {
  color: grey;
  font-size: 25px;
  text-align: center;
  padding: 3vh 0;
  font-weight: lighter
}